ab_test_audit:
  target: dev
  outputs:
    dev:
      type: bigquery
      method: oauth
      project: "{{ env_var('DBT_BIGQUERY_PROJECT') }}"
      dataset: "{{ env_var('DBT_BIGQUERY_DATASET') }}"
      location: "{{ env_var('DBT_BIGQUERY_LOCATION', 'US') }}"
      threads: 1
